<aside class="main-perfil sidebar-container" th:fragment="sidebar">
    <section>
        <h1>
            <div class="user-info">
                <span th:text="${usuario.nome ?: 'Usuário desconhecido'}">Usuário</span>
                <p><strong>@</strong><span th:text="${usuario.login ?: 'Login não informado'}">username</span></p>
            </div>
        </h1>
    </section>

    <section th:if="${#authentication?.name == usuario.login}">
        <h2>Opções do Meu Perfil</h2>
        <a href="/editar-perfil" class="btn">Editar Perfil</a>
        <a href="/configuracoes" class="btn">Configurações</a>
    </section>
</aside>