<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Registro</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  <script th:inline="javascript">
      document.addEventListener("DOMContentLoaded", function() {
          var mensagemErro = /*[[${mensagemErro}]]*/ '';
          if (mensagemErro) {
              Swal.fire({
                  title: "Erro!",
                  text: mensagemErro,
                  icon: "error"
              });
          }
      });
  </script>
</head>
<body>
    <header>
        <nav>
            <a href="/">Início</a>
            <a href="/login">Login</a>
            <a href="/registrar">Registrar</a>
        </nav>
    </header>
    <main>
        <div class="form-container">
            <h2>Registro de Usuário</h2>
            <form th:action="@{/registrar_usuario}" method="post">
                <div class="form-group">
                    <label for="login">Login:</label>
                    <input type="text" id="login" name="login" required>
                </div>
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone:</label>
                    <input type="text" id="telefone" name="telefone">
                </div>
                <div class="form-group">
                    <label for="fuso_horario">Fuso Horário:</label>
                    <select id="fuso_horario" name="fuso_horario" class="styled-select">
                        <option value="">Selecione um fuso horário</option>
                        <option value="UTC-3">UTC-3 (Brasília)</option>
                        <option value="UTC-2">UTC-2 (Ilha de Fernando de Noronha)</option>
                        <option value="UTC-4">UTC-4 (Acre)</option>
                        <option value="UTC-5">UTC-5 (Amazonas)</option>
                        <option value="UTC+0">UTC+0 (Lisboa)</option>
                        <option value="UTC+1">UTC+1 (Berlim)</option>
                        <option value="UTC+2">UTC+2 (Cairo)</option>
                        <option value="UTC+3">UTC+3 (Moscovo)</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" /> <!-- CSRF token -->
                    <button type="submit" class="btn">Registrar</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Systers</p>
    </footer>
</body>
</html>